# SOURCE MODEL (SM) TARGET (DEPENDENT) VARIABLE PRE-PROCESSING

## Importing Python Libraries

In [47]:
import numpy as np
import pandas as pd

print("Import Completed")

Import Completed

## Importing and Loading the Source Model (SM) Raw Data

In [48]:
source_model_raw_data = pd.read_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk6/QMUL_MSc_Project/credit_risk_scoring_project/data/transfer_learning_models_raw_data/source_model_raw_data.csv")

print("Data Import Completed")

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Data Import Completed

In [49]:
# Checking the size of the Source Model (SM) Raw Data

source_model_raw_data.shape

(524282, 152)

In [50]:
# Checking the first 3 column names of the dataset

source_model_raw_data.columns[[0, 1, 2]]

Index(['Unnamed: 0', 'id', 'member_id'], dtype='object')

In [51]:
# Removing the first index column from the dataset

source_model_raw_data.drop(source_model_raw_data.columns[0], axis = 1, inplace = True)

print("Execution Completed")

Execution Completed

In [52]:
# Re-checking the size of the Source Model (SM) Raw Data

source_model_raw_data.shape

(524282, 151)

In [57]:
# Displying the first 5 data instances of the Source Model (SM) Raw Data

source_model_raw_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low
0,136243871,NaN,15000.0,15000.0,15000.0,36 months,10.08,484.58,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,730.0,734.0,619.0,615.0
1,63396131,NaN,15000.0,15000.0,15000.0,60 months,8.18,305.44,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,725.0,729.0,754.0,750.0
2,130657021,NaN,15000.0,15000.0,15000.0,60 months,11.98,333.52,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,720.0,724.0,709.0,705.0
3,60635254,NaN,25000.0,25000.0,25000.0,60 months,15.61,602.79,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,720.0,724.0,644.0,640.0
4,129371880,NaN,36000.0,36000.0,36000.0,60 months,21.85,991.22,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,690.0,694.0,749.0,745.0

In [58]:
# Displying the last 5 data instances of the Source Model (SM) Raw Data

source_model_raw_data.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low
524277,52729049,NaN,15000.0,15000.0,15000.0,60 months,19.19,390.68,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,665.0,669.0,524.0,520.0
524278,56030757,NaN,14500.0,14500.0,14500.0,36 months,9.17,462.25,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,690.0,694.0,814.0,810.0
524279,126378519,NaN,25000.0,25000.0,25000.0,60 months,15.05,595.41,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,700.0,704.0,739.0,735.0
524280,134925617,NaN,10000.0,10000.0,10000.0,36 months,6.83,308.00,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,675.0,679.0,754.0,750.0
524281,116948856,NaN,25000.0,25000.0,25000.0,36 months,16.02,879.18,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,700.0,704.0,639.0,635.0

## Creating and Pre-Processing the new Target (Dependent) Variable - "fico_score_status"

### Creation of a new Target Variable Column named "fico_score_status" for the Source Model (SM)

### Creating a new column named "FICO Average Latest" by taking the average of the 2 attributes "last_fico_range_high" and "last_fico_range_low"

In [59]:
# Initially updating all the values of the "fico_average_latest" column with the average/mean of the latest/last fico score low and high values

fico_average_latest = (source_model_raw_data['last_fico_range_low'] + source_model_raw_data['last_fico_range_high'])/2
source_model_raw_data['fico_average_latest'] = fico_average_latest

print("Execution Completed")

Execution Completed

In [60]:
# Displying the first 5 data instances of the Source Model (SM) Data

source_model_raw_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest
0,136243871,NaN,15000.0,15000.0,15000.0,36 months,10.08,484.58,B,B1,...,NaN,NaN,NaN,NaN,NaN,730.0,734.0,619.0,615.0,617.0
1,63396131,NaN,15000.0,15000.0,15000.0,60 months,8.18,305.44,B,B1,...,NaN,NaN,NaN,NaN,NaN,725.0,729.0,754.0,750.0,752.0
2,130657021,NaN,15000.0,15000.0,15000.0,60 months,11.98,333.52,B,B5,...,NaN,NaN,NaN,NaN,NaN,720.0,724.0,709.0,705.0,707.0
3,60635254,NaN,25000.0,25000.0,25000.0,60 months,15.61,602.79,D,D1,...,NaN,NaN,NaN,NaN,NaN,720.0,724.0,644.0,640.0,642.0
4,129371880,NaN,36000.0,36000.0,36000.0,60 months,21.85,991.22,D,D5,...,NaN,NaN,NaN,NaN,NaN,690.0,694.0,749.0,745.0,747.0

In [61]:
# Conditional handling of zero values in "last_fico_range_low" column or "last_fico_range_high" column or in both the columns

#condition_1 = (source_model_raw_data['last_fico_range_low'] != 0.0) & (source_model_raw_data['last_fico_range_high'] == 0.0)
#condition_2 = (source_model_raw_data['last_fico_range_low'] == 0.0) & (source_model_raw_data['last_fico_range_high'] != 0.0)
#condition_3 = (source_model_raw_data['last_fico_range_low'] == 0.0) & (source_model_raw_data['last_fico_range_high'] == 0.0)
#condition_4 = (source_model_raw_data['last_fico_range_low'] != 0.0) & (source_model_raw_data['last_fico_range_high'] != 0.0)

# Set the value of "fico_average_latest" to the value in "last_fico_range_low"; if "last_fico_range_high" value is zero
source_model_raw_data['fico_average_latest'] = np.where((source_model_raw_data['last_fico_range_low'] != 0.0) & (source_model_raw_data['last_fico_range_high'] == 0.0), source_model_raw_data['last_fico_range_low'], source_model_raw_data['fico_average_latest'])

# Set the value of "fico_average_latest" to the value in "last_fico_range_high"; if "last_fico_range_low" value is zero
source_model_raw_data['fico_average_latest'] = np.where((source_model_raw_data['last_fico_range_low'] == 0.0) & (source_model_raw_data['last_fico_range_high'] != 0.0), source_model_raw_data['last_fico_range_high'], source_model_raw_data['fico_average_latest'])

# Last Observation Carried Forward (LOCF) Method
# Set the value of "fico_average_latest" to the mean value of "fico_range_low" and "fico_range_high"; if both "last_fico_range_low" and "last_fico_range_high" values are zero
source_model_raw_data['fico_average_latest'] = np.where((source_model_raw_data['last_fico_range_low'] == 0.0) & (source_model_raw_data['last_fico_range_high'] == 0.0), (source_model_raw_data['fico_range_low'] + source_model_raw_data['fico_range_high'])/2, source_model_raw_data['fico_average_latest'])

# Set the value of "fico_average_latest" to the mean value of "last_fico_range_low" and "last_fico_range_high"; if both "last_fico_range_low" and "last_fico_range_high" values are not equal to zero
source_model_raw_data['fico_average_latest'] = np.where((source_model_raw_data['last_fico_range_low'] != 0.0) & (source_model_raw_data['last_fico_range_high'] != 0.0), (source_model_raw_data['last_fico_range_low'] + source_model_raw_data['last_fico_range_high'])/2, source_model_raw_data['fico_average_latest'])


print("Execution Completed")

Execution Completed

In [62]:
# Checking the datatype of the newly added column "fico_average_latest"

source_model_raw_data['fico_average_latest'].dtype

dtype('float64')

In [63]:
# Checking the size of the newly added column "fico_average_latest"

source_model_raw_data['fico_average_latest'].shape

(524282,)

In [19]:
# Checking the descriptive statistics of the column "fico_average_latest"

source_model_raw_data['fico_average_latest'].describe()

count    524280.000000
mean        684.926303
std          72.948688
min         499.000000
25%         652.000000
50%         697.000000
75%         732.000000
max         847.500000
Name: fico_average_latest, dtype: float64

In [17]:
# Checking the minimum fico average score value

source_model_raw_data['fico_average_latest'].min()

499.0

In [18]:
# Checking the maximum fico average score value

source_model_raw_data['fico_average_latest'].max()

847.5

In [21]:
# Querying and verifying the list of rows with missing values in "fico_average_latest"

source_model_raw_data.query("fico_average_latest == 0")

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 152 columns]

In [23]:
source_model_raw_data['last_fico_range_low'].isnull().sum()

8

In [24]:
source_model_raw_data['last_fico_range_high'].isnull().sum()

8

In [22]:
# Verifying the list of rows with "NaN" values in "fico_average_latest"

source_model_raw_data['fico_average_latest'].isnull().sum()

8

In [32]:
source_model_raw_data[['last_fico_range_low', 'last_fico_range_high', 'fico_average_latest']].isnull().sum()

last_fico_range_low     8
last_fico_range_high    8
fico_average_latest     8
dtype: int64

In [40]:
fico_null_rows = pd.isnull(source_model_raw_data['last_fico_range_low'])
source_model_raw_data[fico_null_rows]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest
54756,Total amount funded in policy code 1: 1791201400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260738,Total amount funded in policy code 1: 1443412975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275181,Total amount funded in policy code 1: 1538432075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339248,Total amount funded in policy code 2: 564202131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357827,Total amount funded in policy code 2: 511988838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431988,Total amount funded in policy code 1: 2063142975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502875,Total amount funded in policy code 1: 6417608175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
506724,Total amount funded in policy code 1: 1741781700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
mask = source_model_raw_data['id'].str.contains('policy', case=False, na=False)
source_model_raw_data[mask]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,fico_range_low,fico_range_high,last_fico_range_high,last_fico_range_low,fico_average_latest
54756,Total amount funded in policy code 1: 1791201400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260738,Total amount funded in policy code 1: 1443412975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275181,Total amount funded in policy code 1: 1538432075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339248,Total amount funded in policy code 2: 564202131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357827,Total amount funded in policy code 2: 511988838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431988,Total amount funded in policy code 1: 2063142975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502875,Total amount funded in policy code 1: 6417608175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
506724,Total amount funded in policy code 1: 1741781700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#Last Observation Carried Forward (LOCF) Method
# Set the value of "fico_average_latest" to the mean value of "fico_range_low" and "fico_range_high"; if both "last_fico_range_low" and "last_fico_range_high" values are null "NaN"
source_model_raw_data['fico_average_latest'] = np.where((source_model_raw_data['last_fico_range_low'] == "") & (source_model_raw_data['last_fico_range_high'] == ""), (source_model_raw_data['fico_range_low'] + source_model_raw_data['fico_range_high'])/2, source_model_raw_data['fico_average_latest'])

In [38]:
source_model_raw_data[['last_fico_range_low', 'last_fico_range_high', 'fico_average_latest']].isnull().sum()

last_fico_range_low     8
last_fico_range_high    8
fico_average_latest     8
dtype: int64

In [ ]:
# Querying and verifying the list of rows with "fico_average_latest" score values less than the expected/actual minimum score of 300

source_model_raw_data.query("fico_average_latest < 300")

In [ ]:
# Querying and verifying the list of rows with "fico_average_latest" score values greater than the expected/actual maximum score of 850

source_model_raw_data.query("fico_average_latest > 850")

In [ ]:
# Round-off the "fico_average_latest" column value to zero decimal places to represent it as a fico score

source_model_raw_data.style.format({
    'fico_average_latest': '{:,.0f}'.format
})

print("Execution Completed")

In [ ]:
source_model_raw_data.head()

In [ ]:
source_model_raw_data.tail()

### Creating a new Target Variable Column named "fico_score_status"

#### FICO Scores between 300 to 669 ----> Represents Good- ------> 0
#### FICO Scores between 670 to 850 ----> Represents Good+ ------> 1

In [ ]:
credit_data['fico_score_status_good-_good+'] = np.where(credit_data['fico_average_latest']<=669, "Good-", "Good+")

print("Execution Completed")

In [ ]:
credit_data.head()

In [ ]:
credit_data['fico_score_status'] = np.where(credit_data['fico_score_status_good-_good+'] == "Good-", 0, 1)

print("Execution Completed")

In [ ]:
credit_data.shape

In [ ]:
credit_data.head()

In [ ]:
credit_data.tail()

## Pre-Processing of the Target (Dependent) Variable 2 - Loan Status (Loan Default)

#### Loan Non-Default -----> Good -----> 0
#### Loan Default -----> Bad -----> 1

In [ ]:
# Display the unique values of the "loan_status" column

credit_data['loan_status'].unique()

In [ ]:
# Checking the count of each of the "loan_status" values in the dataset

credit_data['loan_status'].value_counts()

In [ ]:
credit_data['loan_status'].count()

In [ ]:
# Divide the number of observations for each unique value of a variable by the total number of observations.
# This will generate the proportion of observations for each unique value of a variable.


credit_data['loan_status'].value_counts() / credit_data['loan_status'].count()

In [ ]:
# If we further multiply this proportion value by 100; then we will get the percentage of observations for each unique value of the "loan_status" variable

(credit_data['loan_status'].value_counts() / credit_data['loan_status'].count())*100

In [ ]:
# Checking the count of "NaN" values (missing values) in the "loan_status" column

credit_data['loan_status'].isna().sum()

### Fixing the Missing Values in the "loan_status" column

In [ ]:
credit_data.query("loan_status == ''")

In [ ]:
# Creating a new variable named "loan_good_bad_status" basd on the values of the "loan_status" column

credit_data['loan_good_bad_status'] = np.where(credit_data['loan_status'].isin(['Charged Off', 'Late (31-120 days)', 'Default']), 1, 0)

In [ ]:
credit_data[['loan_status', 'loan_good_bad_status']].sample(n=10)

In [ ]:
credit_data['loan_good_bad_status'].count()

## Pre-processing of String (Object) Data Type Variable

## Date Type Attribute "earliest_cr_line"

In [ ]:
# Display the "earliest_cr_line" column values

credit_data['earliest_cr_line']

In [ ]:
# Extract the date and the time from the Date Type String Variable "earliest_cr_line" in to a new pandas dataframe column

credit_data['earliest_cr_line_date'] = pd.to_datetime(credit_data['earliest_cr_line'], format = '%b-%y')

In [ ]:
# Verifying the date and time created in the new column "earliest_cr_line_date" for the first 5 data instances

credit_data['earliest_cr_line_date'][:5]

In [ ]:
# Converting the date an time into number of days format; by calculating the difference between the given date and current date as 1st September 2021

pd.to_datetime('2021-09-01') - credit_data['earliest_cr_line_date']

In [ ]:
# Calculating the difference between the given date and current date as 1st September 2021 in months format, then convert it into numeric format and round it
# Saving the results to a new column named "months_since_earliest_cr_line"

credit_data['months_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2021-09-01') - credit_data['earliest_cr_line_date']) / np.timedelta64(1, 'M')))

In [ ]:
# Verifying the first 5 data instances of the new column "months_since_earliest_cr_line"

credit_data['months_since_earliest_cr_line'][:5]

In [ ]:
# Displaying the descriptive statistics of the values in the column "months_since_earliest_cr_line"

credit_data['months_since_earliest_cr_line'].describe()

In [ ]:
# Displaying only the 3 columns w.r.t "earliest_cr_line" attribute and displaying only the rows which has negative values calculated for the data differences

credit_data.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'months_since_earliest_cr_line']][credit_data['months_since_earliest_cr_line'] < 0]

In [ ]:
# We will set the rows with the negative values to the maximum value

credit_data['months_since_earliest_cr_line'][credit_data['months_since_earliest_cr_line'] < 0] = credit_data['months_since_earliest_cr_line'].max()

In [ ]:
# Displaying only the 3 columns w.r.t "earliest_cr_line" attribute and displaying only the rows which has negative values after fixing it

credit_data.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'months_since_earliest_cr_line']][credit_data['months_since_earliest_cr_line'] < 0]

In [ ]:
# Displaying the minimum value of the "months_since_earliest_cr_line" column 

min(credit_data['months_since_earliest_cr_line'])

In [ ]:
# Displaying the maximum value of the "months_since_earliest_cr_line" column 

max(credit_data['months_since_earliest_cr_line'])

In [ ]:
# Displaying all the rows of data and only the 3 columns w.r.t "earliest_cr_line" attribute

credit_data.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'months_since_earliest_cr_line']]

In [ ]:
# Re-verifying the descriptive statistics of the values in the column "months_since_earliest_cr_line"; to ensure that there are no negative values

credit_data['months_since_earliest_cr_line'].describe()

In [ ]:
# Verifying the data type of the "months_since_earliest_cr_line" column

credit_data['months_since_earliest_cr_line'].dtype

In [ ]:
# Checking for any missing values in the "months_since_earliest_cr_line" column - Option 1

credit_data.query("months_since_earliest_cr_line == ''")

In [ ]:
# Checking for any missing values in the "months_since_earliest_cr_line" column - Option 2

credit_data.query("months_since_earliest_cr_line < 73.0")

In [ ]:
# Displaying the entire dataset with all the columns

credit_data

## Exporting an extract of the Credit Data with pre-processed target columns into a csv file

In [ ]:
credit_data.to_csv("/Users/vidhyalakshmiparthasarathy/.CMVolumes/Google-Drive-pbvidhyauk5/QMUL_MSc_Project/Credit_Risk_Assessment/data/credit_risk_data_all.csv")

print("Data Export Completed")